.summary {
  margin-bottom: 50px;
  font-size: 18px;
  line-height: 32px;
  @include breakpoint('small') {
    margin-bottom: 80px;
    font-size: 18px;
    line-height: 26px;
  }
  .summary-date {
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
    color: #999;
  }
  .summary-title {
    margin: 16px 0 16px 0;
    width: 80%;
    font-size: 32px;
    line-height: 36px;
    @include breakpoint('small') {
      width: 80%;
      font-size: 32px;
      line-height: 36px;
    }
  }
  .summary-description {
    width: 80%;
  }
}
